.chat_box {
  display: grid;
  width: 90%;
  max-width: 400px;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr auto;
  grid-template-areas:
    "buttons"
    "messages"
    "input";
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.button_area {
  grid-area: buttons;
  justify-self: center;
  align-self: center;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.button {
  font-weight: bold;
  padding: 0.5em 3em;
  text-align: center;
  background: #fffffa;
  color: #0a2342;
  border-radius: 25px;
  border: 0;
}

.overflow_container {
  grid-area: messages;
  display: flex;
  flex-direction: column;
}

.message_container {
  flex: 1 0 1px;
  overflow-y: auto;
}

.message {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.message_text {
  padding: 10px 20px;
  border-radius: 25px;
  text-align: center;
  width: 80%;
  margin: 0;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background-color: #0b93f6;
}
.received p {
  background-color: #e5e5ea;
  color: black;
}

.profile_image {
  width: 3em;
  height: 3em;
  padding: 0.25em;
  border-radius: 50%;
  margin: 0.25em;
}

.text_form {
  grid-area: input;
  width: 100%;
  display: flex;
  align-items: center;
}

.form_input {
  height: 2em;
  width: 80%;
  font-size: 1.25rem;
  outline: none;
  border: none;
  padding: 0 10px;
  margin: 0;
  border-radius: 25px 0 0 25px;
}

.form_submit {
  background-color: #a3a5dc;
  border: none;
  height: 2em;
  width: 20%;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
  padding: 0;
  margin: 0;
  border-radius: 0 25px 25px 0;
}

.form_submit:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.send_button {
  height: 2em;
}

.graphic {
  grid-area: graphic;
  width: 100%;
  z-index: 1;
}

.overview_container {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "chats"
    "graphic";
  max-width: 500px;
}

.chat_overview {
  grid-area: chats;
  width: 80%;
  height: 100%;
  margin-top: 1.5em;
  justify-self: center;
}
