.container {
  display: grid;
  height: 100%;
  width: 80%;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas:
    "buttons"
    "remotevid"
    "localvid";
}

.buttons {
  grid-area: buttons;
  justify-self: center;
  align-self: center;
}

.remotevideo {
  grid-area: remotevid;
  max-width: 100%;
  height: auto;
}

.localvideo {
  grid-area: localvid;
  max-width: 100%;
  height: auto;
}

.video {
  width: 100% !important;
  height: auto !important;
}
