.container {
  display: grid;
  height: 100%;
  width: 80%;
  grid-template-rows: min-content auto 1fr min-content;
  grid-template-areas:
    "buttons"
    "remotevid"
    "localvid"
    "matchbutton";
}

.buttons {
  grid-area: buttons;
  justify-self: center;
  align-self: center;
}

.button {
  font-weight: bold;
  padding: 5px 20px;
  margin: 15px 1em;
  text-align: center;
  background: #fffffa;
  color: #0a2342;
  text-decoration: none;
  border-radius: 25px;
  border: 0;
}

.match_button {
  grid-area: matchbutton;
  justify-self: center;
  margin: 0;
}

.remotevideo {
  grid-area: remotevid;
  max-width: 100%;
  height: auto;
}

.localvideo {
  grid-area: localvid;
  max-width: 100%;
  height: auto;
}

.video {
  width: 100% !important;
  height: auto !important;
}
