.nav_button {
  height: 2.5em;
  width: 2.5em;
  margin: 1em 2em;
}

.title {
  font-size: 2em;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a3a5dc;
  color: #fffffa;
}
