form {
  width: min(75%, 300px);
}

label {
  color: #0a2342;
  font-size: large;
}

.centered_content {
  display: block;
  text-align: center;
}

.container {
  background-image: linear-gradient(#c3c4db, #9c9ece);
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.form_group {
  display: block;
  margin: 5vh 0;
}

.form_input {
  width: 100%;
  line-height: 1.4;
}

.form_submit {
  width: 50%;
  padding: 5px;
  margin: 15px 0;
  color: #0a2342;
  border-radius: 25px;
  border: 1px solid #0a2342;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text_danger {
  font-size: smaller;
  font-weight: bold;
  color: #df183d;
  text-decoration: underline;
}
