.button {
  width: 50%;
  padding: 5px;
  margin: 15px 0;
  text-align: center;
  background: #fffffa;
  color: #0a2342;
  text-decoration: none;
  border-radius: 25px;
  /* set the button to be in front of the box shadow */
  z-index: 1;
}

.container {
  margin: 0;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: #c3c4db;
}

.footer {
  height: 15vh;
  background-color: #9c9ece;
  box-shadow: 0 0 20vh 20vh #9c9ece;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.link {
  color: #0a2342;
  text-decoration: none;
  margin: 0 0 2vh 0;
}

.logo_image {
  max-width: min(250px, 30%);
  border-radius: 50%;
  margin: 15px 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
