.logo {
  height: 3em;
  width: 3em;
  margin: 1em 2em;
}

.title {
  font-size: 2em;
}

.logout {
  height: 3em;
  width: 3em;
  margin: 1em 2em;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
