.container {
  display: grid;
  width: 100%;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "pic name name"
    "pic msg msg";
  border-bottom: 1px solid grey;
}

.profile_img {
  grid-area: pic;
  justify-self: center;
  align-self: center;
  width: 3em;
  height: 3em;
  padding: 0.25em;
  border-radius: 50%;
  margin: 0.25em;
}

.name {
  grid-area: name;
  margin: 0.25em;
}

.last_msg {
  grid-area: msg;
  margin: 0.25em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: lighter;
}
